* {box-sizing:border-box;}
body {
	background-color: #CCC;
	font-family:Arial;
	font-size:11pt;
}

.contentarea {
    border-style: solid;
    margin-top: 1px;
}
#customerinfo {
    height: 6em;
}
#items {
     height: 18em;
     overflow: auto;
}
#weather {
    height: 19em;
	overflow: auto;
}
#map {
    height: 26em;
}
#news {
    height: 17em;
    overflow: auto;
}
#entertainment {
    height: 10em;
}
.col-md-4{
    padding-left: 5px;
    padding-right: 5px;
}
.col-md-8{
    padding-left: 5px;
    padding-right: 5px;
}

h4{
	font-family:Georgia;
}