* {box-sizing:border-box;}
body {
	background-color: #FFFFFF;
	font-family:Arial;
	font-size:11pt;
}

.contentarea {
    border-style: solid;
    margin-top: 1px;
}
#customerinfo {
    height: 9em;
	background-color: #ebedcb;
	border-color: #ebedcb;
}
#items {
     height: 18em;
     overflow: auto;
	 background-color: #ebedcb;
	 border-color: #ebedcb;
}
#weather {
    height: 19em;
	overflow: auto;
	background-color:#ebedcb;
	border-color:#ebedcb;
}
#map {
    height: 28em;
	border-style:hidden;
}
#news {
    height: 19em;
    overflow: auto;
	background-color:#ebedcb;
	border-color:#ebedcb;
}
#entertainment {
    height: 19em;
	overflow:auto;
	background-color:#ebedcb;
	border-color:#ebedcb;
}
.col-md-4{
    padding-left: 0px;
    padding-right: 5px;
}
.col-md-8{
    padding-left: 0px;
    padding-right: 5px;
}